<ng-progress></ng-progress>
<div *ngIf="globalError">
    {{ globalError }}
</div>
<div class="main">
    <div class="box-title">
        <h1>{{title}}</h1>
        <h3>{{subtitle}}</h3>
    </div>

    <div class="box-instructions">
        <p>{{instruction}}</p>
    </div>

    <div class="box-btn">
        <button class="btn_action" id="btn_get" (click)="ClickBtnGet()">Get</button>
        <button class="btn_action" id="btn_getbyid" (click)="ClickBtnGetById()">GetById</button>
        <button class="btn_action" id="btn_put" (click)="ClickBtnPut()">Put</button>
        <button class="btn_action" id="btn_post" (click)="ClickBtnPost()">Post</button>
        <button class="btn_action" id="btn_delete" (click)="ClickBtnDelete()">Delete</button>
    </div>
</div>
